TZ=Asia/Shanghai

WEB_PORT=80
SERVER_PORT=8080
POSTGRES_PORT=5432

POSTGRES_DB=coal_platform
POSTGRES_USER=coal_user
POSTGRES_PASSWORD=change_me

SPRING_SECURITY_USER_NAME=admin
SPRING_SECURITY_USER_PASSWORD=change_me_too

PLATFORM_IOT_PROVIDER=mock
PLATFORM_IOT_FALLBACK_TO_MOCK=true

PLATFORM_IOT_KEPSERVER_ENABLED=false
PLATFORM_IOT_KEPSERVER_ENDPOINT=opc.tcp://host.docker.internal:49320
PLATFORM_IOT_KEPSERVER_USERNAME=
PLATFORM_IOT_KEPSERVER_PASSWORD=
PLATFORM_IOT_KEPSERVER_SOURCE_TYPE=KEPSERVER
PLATFORM_IOT_KEPSERVER_CHANNEL_PREFIX=Channel1
PLATFORM_IOT_KEPSERVER_TIMEOUT_MS=3000
